# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Github Project.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/.idea.NSM Github.dir/.idea/workspace.xml
/.idea/.idea.NSM Github.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.NSM Github.dir/.idea/encodings.xml
/.idea/.idea.NSM Github.dir/.idea/indexLayout.xml
/.idea/.idea.NSM Github.dir/.idea/vcs.xml
